@charset "utf-8";
/*通用*/
body {
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
	color:#666;
    margin:0px;
    padding:0px;
}
img{
	border:none;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0px;
    padding:0px;
    border:none;
    list-style:none;
}
input {border:none;}
.lf   {float:left;}
.rt  {float:right;}
.clear  {clear:both;}
a{
    color:#666;
    text-decoration:none;
    outline:0;
}

body{
	background:#390007;
}
p{
	display:block;
}
div{
	display: block;;
}
/*顶部样式*/
	#top{
		width:100%;
		height:106px;
		border-bottom:1px solid #b72e22;
		background-color:#72090E;
	}
	.logo img{
		float:left;
		margin-top:35px;
		width:498px;
		height:38px;
		padding-left: 100px;
		border:none;
	}
	
	.rt ul li{
		margin-top:15px;
		padding-right:20px;
	}
	.rm {
		display: inline-block;
		width:209px;
		height:43px;
		margin-top:20px;
	}
	.rt ul li a{
		color:#EFCE57;
		padding-left:10px;
		font-size:15px;
		float:left;
	}

/*导航样式*/
#nav_bg{
	background-color:#220000;
	width:100%;
	height:54px;
	float:left;
}
.nav{
	width:980px;
	height:54px;
	margin:0 auto;
}
.nav li{
	width:98px;
	height:54px;
	float:left;
	text-align:center;
}
.nav li a{
	display:block;
	text-decoration:none;
	color:#fff;
	line-height:54px;
	font-size:15px;
	font-family:"微软雅黑";
}
.nav li:hover{
	color:#fff;
	background-color:#72090E;
	cursor:pointer;
}
#nav_bg ul li ul{
	position:absolute;
	width:98px;
	overflow:hidden;
	background:#72090E;
	opacity:0.9;
	display:none;
}
#nav_bg ul li ul li{
	border-bottom: 1px solid #ae0000;
	text-align:center;
	width: 100%;
}
#banner img{
	width: 100%;
}
/*主体样式*/
.main_s{
	position:relative;
	width:100%;
}
#main{
	width:100%;
	height:auto;
	font-size:0;
	z-index:2;
}
.bg_box{
	position: absolute;
	z-index:4;
	background:url(../images/con_bg.png) center 0 no-repeat;
	height:120px;
	left:0;
	top:-120px;
	width:100%;
}

.mar{
	width:880px;
	height:70px;
	margin:28px auto 0;
	border-bottom:1px solid #e5d4b3;
	overflow: hidden;
}
.mar p{
	float:left;
	font-family:"微软雅黑";
	font-size:16px;
	font-weight:700;
	color:#ae0000;
	padding:26px 5px;
}
.mar marquee{
	left:right;
	width:750px;
	height:77px;
	overflow:hidden;
	font-size:14px;
	font-family:"微软雅黑";
	line-height:77px;
	color:#ae0000;

}

.con_bg,.con_bg2{
	width:1003px;
	height:auto;
	margin:0 auto;
	background:url(../images/conbg.jpg) left center repeat-y;
	position:relative;
	
}
.title1{
	width:935px;
	height:59px;
	background:url(../images/titlebg1.jpg) left center no-repeat;
	margin:0 auto 20px;
	overflow:hidden;
}


.title1 span,.con3_title span,.con3_title2 span{
	float: left;
	display:block;
	width:59px;
	height:59px;
	text-align:center;
	font-size:30px;
	font-family: "microsoft yahei";
	line-height:59px;
	color:#9d8256;
	margin:0 10px 0 14px;
	background:url(../images/titlebg2.jpg) no-repeat;
}
.title1 p,.con3_title p,.con3_title2 p{
	float:left;
	font:20px/59px "microsoft yahei";
	color:#fff;
}
.more{
	float:right;
	display:block;
	background:url(../images/more.jpg) no-repeat;
	width:53px;
	height:24px;
	text-align:center;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	margin:17px 36px 0 0;
}
.title1 a,.con3_title a{
	font:10px/25px "microsoft yahei";
}
.content_1{
	overflow:hidden;
	width:936px;
	height:310px;
	margin:0 auto;
}
.con_lt{position: relative;}
.con_lt img{
	float:left;
	width:225px;
	height:280px;
	display:block;
}
.con_font{
	width:225px;
	height:121px;
	overflow:hidden;
	background:url(../images/gray.png) left center repeat;
	position:absolute;
	left:0;
	bottom:30px;
	z-index:9;
	left:0;
	top:158px;
	
}
.con_font span{
	width:200px;
	height:30px;
	font:18px/30px "微软雅黑";
	color:#fff;
	overflow:hidden;
	display:block;
	margin:9px auto;
	
}
.con_font p{
	width:200px;
	height:72px;
	font:16px/24px "微软雅黑";
	color:#fff;
	overflow:hidden;
	margin:0 auto;
}
.con_rt{
	float:left;
	width:711px;
	height:auto;
	overflow: hidden;
}
.con_rt li{
	float:left;
	width:223px;
	height:280px;
	padding-left:14px;
	overflow: hidden;
}
.con_rt li div.con_img{
	width:222px;
	height:167px;
	overflow:hidden;
	position:relative;
}
.con_rt li h2{
	width:222px;
	height:32px;
	margin-top:7px;
	font:16px/32px "microsoft yahei";
	
}
.con_rt li p{
	width:223px;
	height:72px;
	overflow:hidden;
	font:14px/24px "microsoft yahei";
	color:#988e7f;
	text-indent:28px;
}

.con_rt li h2 a{
	color:#a47935;
	text-decoration: none;
}

#wrapper {
  	width:934px;
	margin:0 auto;
	overflow:hidden;
  }

/* Callback example */

.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  }

.callbacks img {
  display: block;
  height:276px;
  width:314px;
  border: 0;
  }

.callbacks li {
  position:absolute;
  width:314px;
  left: 0;
  top: 0;
  }
.callbacks_nav {
  position: absolute;
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }
  
.con2_right{
	width:600px;
	height:278px;
	float:right;
	overflow:hidden;
	
}
.con2_top{
	border-bottom:1px solid #e5d4b3;
	overflow:hidden;
	width:100%;
	height:152px;
}
.con2_top h2{
	float:left;
	width:394px;
	padding-left:28px;
	overflow:hidden;
	height:28px;
}
.con2_top p{
	width:394px;
	height:81px;
	overflow: hidden;
	font: 14px/27px "microsoft yahei";
	color:#988e7f;
	text-indent:20px;
	margin-top: 10px;
	padding-left: 5px;

}
.s_img{
	width:177px;
	height:133px;
	overflow:hidden;
	display: block;
	float:left;
	padding-left: 15px;
	border:none;
}
.con2_top h2 a{
	float:left;
	font:20px/28px;
	color:#a47935;
}
.con2_top h2 span{
	float:right;
	color:#c3bbaf;
} 

#demo { 
background: #FFF; 
overflow:hidden; 
width:1128px; 
height:114px;
} 
#demo img { 
width:141px;
height: 106px;
padding:8px;
} 
#indemo { 
margin-top: 18px;
width:800%;

} 
#demo1 { 
position:absolute;
} 
.demo3{
	position:relative;
}
.con_bg3{
	width:934px;
	height:322px;
	margin:0 auto;
	overflow:hidden;	
}
.con3_rt{
	width:554px;
	float:left;
	overflow:hidden;
}
.con3_title{
	width:100%;
	height:59px;
	background:url(../images/titlebg3.jpg) left center no-repeat;
}
.con3_title2>.more{
	padding-top:4px;
}
.con3_rt img{
	display:block;
	width:235px;
	height:196px;
	float:left;	
}
.rt_conten{
	font:14px/26px "微软雅黑";
	color:#988e7f;
	height:208px;
	overflow:hidden;
	margin-top:20px;
	float:left;
	width:100%;
}
.rt_c{
	width:300px;
	float:right;
}
.rt_conten p{
	text-indent:18px;
	margin-bottom:15px;
}
.con3_lt{
	width:340px;
	overflow:hidden;
	float:right;
}
.con3_title2{
	width:100%;
	height:59px;
	background:url(../images/titlebg4.jpg) left center no-repeat;
	overflow:hidden;
}

.con4_content{
	width:100%;
	height:auto;
	overflow:hidden;
	margin-top:7px;
	
}
.con4_content li{
	background:url(../images/icons1.jpg)8px center no-repeat;
	border-bottom:1px dotted #c3a068;
	color:#988e7f;
	text-indent:32px;
	width:100%;
	height:42px;
	font:16px/45px "微软雅黑";
}
.links{
	width:935px;
	margin:0 auto 29px;
	height:60px;
}
	
.le{
	width:935px;
	float:left;
	border-top:1px solid #c3a068;
	border-bottom:1px solid #c3a068;
}
.links p{
	color:#fff;
	float:left;
	background:url(../images/links.jpg) 0 0 no-repeat;
	width:96px;
	height:41px;
	text-align:center;
	font:18px/41px "微软雅黑";
	margin-top:7px;
}
.links_rt{
	width:802px;
	height:56px;
	float: left;
	margin-left:12px;
	overflow:hidden;
	font:14px/56px "微软雅黑";
	color:#988e7f;
}
.links_rt a{
	margin-right:8px;
	color:#988e7f;
}
#foot_nav{
	width:100%;
	height:59px;
	background:url(../images/foot_nav_bg.jpg) 0 0 repeat;
	border-top:1px solid #ae0000;
	border-bottom:1px solid #ae0000;
	text-align:center;
	color:#fff;
	font:15px/59px "microsoft yahei";
	margin-top:30px;

}
#foot_nav a{
	border-left:1px solid #fff;
	padding:0 10px;
	color:#fff;
}
#footer{
	padding-top:18px;
	background:#1d0004;
	height:171px;
	
}
.f_lt{
	float:left;
	width:728px;
	height:171px;
	padding-left:200px;
}
.f_lt_top{
	width:100%;
	height:55px;
}
.f_lt_top h1{
	color:#f9cc19;
	float:left;
	font:31px/55px "impact";
}

.foot_content{
	width:100%;
	height:auto;
}
.foot_content p{
	width:100%;
	height:26px;
	font:14px/26px "microsoft yahei";
	color:#847c7c;
}
.foot_content p span{
	margin-left:26px;
}
.foot_code{
	float:left;
	width:101px;
	height:136px;
	padding:9px 9px 0px 9px;
	margin:12px 0 0 12px;
	border: 1px solid #57131c;
}
.foot_code p{
	text-align:center;
	font:14px/35px "microsoft yahei";
	width:101px;
	height:35px;
	color:#c3a068;
}
.box{
	position:fixed;
	width:55px;
	height:165px;
	right:25px;
	bottom:50px;
	z-index:999;
}
.text{
	background:url(../images/fixed.jpg) 0 0 no-repeat;
	width:55px;
	height:52px;
	border-bottom: 1px solid #ddd;
}
.backup{
	background:url(../images/fixed.jpg) 0 -158px no-repeat;
	width:55px;
	height:52px;
}
.codepic{
	background:url(../images/fixed.jpg) 0 -53px no-repeat;
	width:55px;
	height:52px;
}
.codepic-logo{
	display:none;
	position:absolute;
	width:100px;
	height:100px;
	right:60px;
	bottom:20px;
}
#bac{
	position:fixed;
	display:block;
}

video{
	background:black;
	width:235px;
	height:196px;
}